<div 
  class="component-product justify-center {% if isBest == 1 %} active {% endif %}"
  style="border-radius: {{section.settings.border-radius}}px;background-color: white;"
>
{%- form 'product', product, class: 'ProductForm' -%}
    <div class="content flex-column mobile-flex-row justify-center" style="
      border-radius: {{section.settings.border-radius}}px;
    ">
      {% if section.settings.has-image %}
        <div class="image-wrapper flex-column">
          {% if isBest == 1 %}
            <div class="best-deal mobile-hide" style="
              border-top-left-radius: {{section.settings.border-radius}}px;
              border-top-right-radius: {{section.settings.border-radius}}px;
              background-color: {{section.settings.best-deal-background-color}};
            ">
              {%- include 'component-h4', 
                fontColor: section.settings.best-deal-font-color, 
                fontSize: section.settings.best-deal-font-size, 
                fontFamily: section.settings.best-deal-font, 
                align: section.settings.best-deal-align,
                fontWeight: section.settings.best-deal-font-weight,
                text: section.settings.best-deal
              -%}
            </div>
          {% endif %}
          {% if section.settings.has-image %}
            {%- assign image = product.images[0] -%}

            <div class="image">
              <img class="content lazyload" src="{{ block.settings.content-image | img_url: 'master' }}" data-src="{{ image | img_url: 'master' }} " alt="Component Content Image" />
            </div>

          {% endif %}
        </div>
      {% endif %}

      <div style="
          width: 100%; 
          background-color: {{section.settings.primary-background-color}}; 
          {% if isBest == 1 %} background-color: {{section.settings.best-deal-background-color}}; {% endif %}
          border-radius: {{section.settings.border-radius}}px; 
      ">
        {% if isBest == 1 %}
          {%- assign titleFontColor = section.settings.bd-title-font-color -%}
          {%- assign titleBackgroundColor = section.settings.bd-title-background-color -%}
        {% else %}
          {%- assign titleFontColor = section.settings.title-font-color -%}
          {%- assign titleBackgroundColor = section.settings.title-background-color -%}
        {% endif %}
        <div class="title-wrapper" style="background-color: {{titleBackgroundColor}}">
          {%- include 'component-h2', 
            fontColor: titleFontColor, 
            fontSize: section.settings.title-font-size, 
            fontFamily: section.settings.title-font, 
            align: section.settings.title-align,
            weight: section.settings.title-weight,
            text: product.title
          - %}
        </div>

        {% if product.description != empty %}
          <div class="product-info {% if section.settings.show-description == false %} mobile-hide {% endif %}">
            {% if isBest == 1 %}
              {%- assign descriptionFontColor = section.settings.bd-description-font-color -%}
              {%- assign descriptionBackgroundColor = section.settings.bd-description-background-color -%}
            {% else %}
              {%- assign descriptionFontColor = section.settings.description-font-color -%}
              {%- assign descriptionBackgroundColor = section.settings.description-background-color -%}
            {% endif %}
            {%- include 'component-paragraph', 
              fontColor: descriptionFontColor, 
              backgroundColor: descriptionBackgroundColor,
              fontFamily: section.settings.description-font, 
              text: product.description
            -%}
          </div>
        {% endif %}

        <div class="price-tag flex flex-column justify-center mobile-flex-row" style="
            background-color: {{section.settings.primary-background-color}}; 
            {% if isBest == 1 %} background-color: {{section.settings.best-deal-background-color}}; {% endif %}
            border-bottom-right-radius: {{section.settings.border-radius}}px;
            border-bottom-left-radius: {{section.settings.border-radius}}px;
          ">
          {% if product.price %}
            <div class="price-div">
            {% if section.settings.has-discount %}
              {% if isBest == 1 %}
                {%- assign discountFontColor = section.settings.bd-discount-font-color -%}
                {%- assign discountBackgroundColor = section.settings.bd-discount-background-color -%}
              {% else %}
                {%- assign discountFontColor = section.settings.discount-font-color -%}
                {%- assign discountBackgroundColor = section.settings.discount-background-color -%}
              {% endif %}

              {%- assign discountPrice = product.compare_at_price_max | minus: product.price %}
              {%- assign discount = discountPrice | times: 100 | divided_by: product.compare_at_price_max %}
                <div>
                  <span {% if discountFontColor %} 
                        style="font-size:{{section.settings.discount-font-size}}em; 
                               color:{{discountFontColor}};"
                        {% endif %} 
                        class="percentage weight-600 font-{{ section.settings.discount-font }}"
                        >
                    {{discount | append: '%OFF'}}
                  </span>
                  <span {% if discountFontColor %} 
                        style="font-size:{{section.settings.discount-font-size}}em; 
                               color:{{discountFontColor}};"
                        {% endif %} 
                        class="discount weight-600 font-{{ section.settings.discount-font }}"
                        >
                    {{product.compare_at_price_max | money}}
                  </span>
                </div>
            {% endif %}
            {% if section.settings.has-price %}  
              {% capture price %}{{ product.price | money }}{% endcapture %}
              <span>
                {% if isBest == 1 %}
                  {%- assign priceFontColor = section.settings.bd-price-font-color -%}
                  {%- assign priceBackgroundColor = section.settings.bd-price-background-color -%}
                {% else %}
                  {%- assign priceFontColor = section.settings.price-font-color -%}
                  {%- assign priceBackgroundColor = section.settings.price-background-color -%}
                {% endif %}
                {%- include 'component-h2', 
                  fontColor: priceFontColor, 
                  fontSize: section.settings.price-font-size, 
                  fontFamily: section.settings.price-font, 
                  text: price
                -%}
              </span>
            {% endif %}
            </div>
          {% endif %}
          {% if section.settings.cta-type == 'cart' %}
            <div class="btn-desktop mobile-hide">
              {%- assign link = section.settings.cta-link | append: product.id | append: ':1' %}
              {% capture onclick %}comboChosen({{product.title}}, {{price}}){% endcapture %}
              {% if isBest == 1 %}
                {%- assign ctaFontColor = section.settings.bd-cta-font-color -%}
                {%- assign ctaBackgroundColor = section.settings.bd-cta-background-color -%}
              {% else %}
                {%- assign ctaFontColor = section.settings.cta-font-color -%}
                {%- assign ctaBackgroundColor = section.settings.cta-background-color -%}
              {% endif %}
              {%- include 'component-cta', 
                fontColor: ctaFontColor, 
                backgroundColor: ctaBackgroundColor,
                fontFamily: section.settings.cta-font-family, 
                fontSize: section.settings.cta-font-size, 
                link: section.settings.cta-link,
                text: section.settings.cta-text
                onclick: onclick
                borderRadius: section.settings.cta-border-radius
              -%}
            </div>
            <button 
              type="submit" 
              class="grow-0 component-cta desktop-hide font-{{section.settings.cta-font}} justify-{{align}}" 
              style="
                color:{{ctaBackgroundColor}};
                background-color: {{section.settings.primary-background-color}}; 
                border: 2px solid {{ctaBackgroundColor}};
                border-radius: {{section.settings.cta-border-radius}}" 
              {% if selected_variant.available %}data-action="add-to-cart"{% else %}disabled="disabled"{% endif %}
            >
              <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.9999 17.2883L15.8547 4.39264C15.8302 4.10634 15.5889 3.88957 15.3067 3.88957H12.9509C12.9181 1.73824 11.1594 0 8.99994 0C6.84043 0 5.08174 1.73824 5.04902 3.88957H2.69319C2.40689 3.88957 2.16967 4.10634 2.14513 4.39264L0.99994 17.2883C0.99994 17.3047 0.99585 17.3211 0.99585 17.3374C0.99585 18.8057 2.34145 20 3.99789 20H14.002C15.6584 20 17.004 18.8057 17.004 17.3374C17.004 17.3211 17.004 17.3047 16.9999 17.2883ZM8.99994 1.10429C10.55 1.10429 11.8138 2.34765 11.8466 3.88957H6.15331C6.18603 2.34765 7.44984 1.10429 8.99994 1.10429ZM14.002 18.8957H3.99789C2.95904 18.8957 2.1165 18.2086 2.10014 17.362L3.19626 4.99795H5.04493V6.67485C5.04493 6.9816 5.29033 7.22699 5.59708 7.22699C5.90382 7.22699 6.14922 6.9816 6.14922 6.67485V4.99795H11.8466V6.67485C11.8466 6.9816 12.092 7.22699 12.3987 7.22699C12.7055 7.22699 12.9509 6.9816 12.9509 6.67485V4.99795H14.7995L15.8997 17.362C15.8834 18.2086 15.0367 18.8957 14.002 18.8957Z" fill="{{ctaBackgroundColor}}"/>
                <circle cx="15.5" cy="17.5" r="4.5" fill="{{ctaBackgroundColor}}"/>
                <g clip-path="url(#clip0)">
                  <path d="M17.6591 17.9545H15.9545V19.6591C15.9545 19.8473 15.8018 20 15.6136 20H15.3864C15.1982 20 15.0455 19.8473 15.0455 19.6591V17.9545H13.3409C13.1527 17.9545 13 17.8018 13 17.6136V17.3864C13 17.1982 13.1527 17.0455 13.3409 17.0455H15.0455V15.3409C15.0455 15.1527 15.1982 15 15.3864 15H15.6136C15.8018 15 15.9545 15.1527 15.9545 15.3409V17.0455H17.6591C17.8473 17.0455 18 17.1982 18 17.3864V17.6136C18 17.8018 17.8473 17.9545 17.6591 17.9545Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                  <rect width="5" height="5" fill="white" transform="matrix(1 0 0 -1 13 20)"/>
                  </clipPath>
                </defs>
              </svg>
          </button>
          {% else if section.settings.cta-type == 'link' %}
              {%- assign link = section.settings.cta-link | append: product.id | append: ':1' %}
              {% capture onclick %}comboChosen({{product.title}}, {{price}}){% endcapture %}
              {% if isBest == 1 %}
                {%- assign ctaFontColor = section.settings.bd-cta-font-color -%}
                {%- assign ctaBackgroundColor = section.settings.bd-cta-background-color -%}
              {% else %}
                {%- assign ctaFontColor = section.settings.cta-font-color -%}
                {%- assign ctaBackgroundColor = section.settings.cta-background-color -%}
              {% endif %}
              {%- include 'component-cta', 
                fontColor: ctaFontColor, 
                backgroundColor: ctaBackgroundColor,
                fontFamily: section.settings.cta-font-family, 
                fontSize: section.settings.cta-font-size, 
                link: section.settings.cta-link,
                text: section.settings.cta-text
                onclick: onclick
                borderRadius: section.settings.cta-border-radius
              -%}
          {% else if section.settings.cta-type == 'checkout' %}
              {%- assign link = '/cart' | append: product.id | append: ':1' %}
              {% capture onclick %}comboChosen({{product.title}}, {{price}}){% endcapture %}
              {% if isBest == 1 %}
                {%- assign ctaFontColor = section.settings.bd-cta-font-color -%}
                {%- assign ctaBackgroundColor = section.settings.bd-cta-background-color -%}
              {% else %}
                {%- assign ctaFontColor = section.settings.cta-font-color -%}
                {%- assign ctaBackgroundColor = section.settings.cta-background-color -%}
              {% endif %}
              {%- include 'component-cta', 
                fontColor: ctaFontColor, 
                backgroundColor: ctaBackgroundColor,
                fontFamily: section.settings.cta-font-family, 
                fontSize: section.settings.cta-font-size, 
                link: link,
                text: section.settings.cta-text
                onclick: onclick
                borderRadius: section.settings.cta-border-radius
              -%}
          {% endif %}
        </div>
    </div>
  </div> 
  {%- endform -%}
</div>