<div 
  class="component-product justify-center {% if isBest == 1 %} active {% endif %}"
  style="border-radius: {{section.settings.border-radius}}px;background-color: white;"
>
{%- form 'product', product, class: 'ProductForm' -%}
    <div class="content flex-column mobile-flex-row justify-center" style="
      border-radius: {{section.settings.border-radius}}px;
    ">
      {% if section.settings.has-image %}
        <div class="image-wrapper flex-column">
          {% if isBest == 1 %}
            <div class="best-deal mobile-hide" style="
              border-top-left-radius: {{section.settings.border-radius}}px;
              border-top-right-radius: {{section.settings.border-radius}}px;
              background-color: {{section.settings.best-deal-background-color}};
            ">
              {%- include 'component-h4', 
                fontColor: section.settings.best-deal-font-color, 
                fontSize: section.settings.best-deal-font-size, 
                fontFamily: section.settings.best-deal-font, 
                align: section.settings.best-deal-align,
                fontWeight: section.settings.best-deal-font-weight,
                text: section.settings.best-deal
              -%}
            </div>
          {% endif %}
          {% if section.settings.has-image %}
            {%- assign image = product.images[0] -%}

            <div class="image">
              {% if isBest == 1 %}
              <img style="
              border-top-left-radius: unset;
              border-top-right-radius: unset;
            " class="content lazyload" src="{{ block.settings.content-image | img_url: 'master' }}" data-src="{{ image | img_url: 'master' }} " alt="Component Content Image" />
              {% else %}
              <img style="
              {% if isBest != 1 %}
                border-top-left-radius: {{section.settings.border-radius}}px;
                border-top-right-radius: {{section.settings.border-radius}}px;
              {% endif %}
            " class="content lazyload" src="{{ block.settings.content-image | img_url: 'master' }}" data-src="{{ image | img_url: 'master' }} " alt="Component Content Image" />
            {% endif %}  
          </div>

          {% endif %}
        </div>
      {% endif %}

      <div style="
          width: 100%; 
          background-color: {{section.settings.primary-background-color}}; 
          {% if isBest == 1 %} background-color: {{section.settings.best-deal-primary-background-color}}; {% endif %}
          border-radius: {{section.settings.border-radius}}px; 
      ">
        {% if isBest == 1 %}
          {%- assign titleFontColor = section.settings.bd-title-font-color -%}
          {%- assign titleBackgroundColor = section.settings.best-deal-primary-background-color -%}
        {% else %}
          {%- assign titleFontColor = section.settings.title-font-color -%}
          {%- assign titleBackgroundColor = section.settings.primary-background-color -%}
        {% endif %}
        <div class="title-wrapper" style="background-color: {{titleBackgroundColor}}">
          {%- include 'component-h2', 
            fontColor: titleFontColor, 
            fontSize: section.settings.title-font-size, 
            fontFamily: section.settings.title-font, 
            align: section.settings.title-align,
            weight: section.settings.title-weight,
            text: product.title
          - %}
        </div>

        {% if product.description != empty %}
          <div class="product-info {% if section.settings.show-description == false %} mobile-hide {% endif %}">
            {% if isBest == 1 %}
              {%- assign descriptionFontColor = section.settings.bd-description-font-color -%}
              {%- assign descriptionBackgroundColor = section.settings.best-deal-primary-background-color -%}
            {% else %}
              {%- assign descriptionFontColor = section.settings.description-font-color -%}
              {%- assign descriptionBackgroundColor = section.settings.primary-background-color -%}
            {% endif %}
            {%- include 'component-paragraph', 
              fontColor: descriptionFontColor, 
              backgroundColor: descriptionBackgroundColor,
              fontFamily: section.settings.description-font, 
              text: product.description
            -%}
          </div>
        {% endif %}

        <div class="price-tag flex flex-column justify-center" style="
            background-color: {{section.settings.primary-background-color}}; 
            {% if isBest == 1 %} background-color: {{section.settings.best-deal-primary-background-color}}; {% endif %}
            border-bottom-right-radius: {{section.settings.border-radius}}px;
            border-bottom-left-radius: {{section.settings.border-radius}}px;
          ">
          {% if product.price %}
            <div class="price-div">
            {% if section.settings.has-discount %}
              {% if isBest == 1 %}
                {%- assign discountFontColor = section.settings.bd-discount-font-color -%}
                {%- assign discountBackgroundColor = section.settings.best-deal-primary-background-color -%}
              {% else %}
                {%- assign discountFontColor = section.settings.discount-font-color -%}
                {%- assign discountBackgroundColor = section.settings.primary-background-color -%}
              {% endif %}

              {%- assign discountPrice = product.compare_at_price_max | minus: product.price %}
              {%- assign discount = discountPrice | times: 100 | divided_by: product.compare_at_price_max %}
                <div>
                  <span {% if discountFontColor %} 
                        style="font-size:{{section.settings.discount-font-size}}em; 
                               color:{{discountFontColor}};"
                        {% endif %} 
                        class="percentage weight-600 font-{{ section.settings.discount-font }}"
                        >
                    {{discount | append: '%OFF'}}
                  </span>
                  <span {% if discountFontColor %} 
                        style="font-size:{{section.settings.discount-font-size}}em; 
                               color:{{discountFontColor}};"
                        {% endif %} 
                        class="discount weight-600 font-{{ section.settings.discount-font }}"
                        >
                    {{product.compare_at_price_max | money}}
                  </span>
                </div>
            {% endif %}
            {% if section.settings.has-price %}  
              {% capture price %}{{ product.price | money }}{% endcapture %}
              <span>
                {% if isBest == 1 %}
                  {%- assign priceFontColor = section.settings.bd-price-font-color -%}
                  {%- assign priceBackgroundColor = section.settings.best-deal-primary-background-color -%}
                {% else %}
                  {%- assign priceFontColor = section.settings.price-font-color -%}
                  {%- assign priceBackgroundColor = section.settings.primary-background-color -%}
                {% endif %}
                {%- include 'component-h2', 
                  fontColor: priceFontColor, 
                  fontSize: section.settings.price-font-size, 
                  fontFamily: section.settings.price-font, 
                  text: price
                -%}
              </span>
            {% endif %}
            </div>
          {% endif %}
          {% if section.settings.cta-type == 'link' %}
          {%- assign link = section.settings.cta-link | append: product.id | append: ':1' %}
              {% capture onclick %}comboChosen({{product.title}}, {{price}}){% endcapture %}
              {% if isBest == 1 %}
                {%- assign ctaFontColor = section.settings.bd-cta-font-color -%}
                {%- assign ctaBackgroundColor = section.settings.bd-cta-background-color -%}
                {% else %}
                {%- assign ctaFontColor = section.settings.cta-font-color -%}
                {%- assign ctaBackgroundColor = section.settings.cta-background-color -%}
              {% endif %}
              {%- include 'component-cta',
              fontColor: ctaFontColor,
              backgroundColor: ctaBackgroundColor,
              fontFamily: section.settings.cta-font-family,
              fontSize: section.settings.cta-font-size,
              link: section.settings.cta-link,
              text: section.settings.cta-text
              onclick: onclick
              borderRadius: section.settings.cta-border-radius
              -%}
          {% elsif section.settings.cta-type == 'checkout' %}
          {%- assign link = '' | append: '/cart/' | append: product.id | append: ':1' %}
            {% capture onclick %}comboChosen({{product.title}}, {{price}}){% endcapture %}
            {% if isBest == 1 %}
              {%- assign ctaFontColor = section.settings.bd-cta-font-color -%}
              {%- assign ctaBackgroundColor = section.settings.bd-cta-background-color -%}
              {% else %}
              {%- assign ctaFontColor = section.settings.cta-font-color -%}
              {%- assign ctaBackgroundColor = section.settings.cta-background-color -%}
            {% endif %}
            {%- include 'component-cta',
            fontColor: ctaFontColor,
            backgroundColor: ctaBackgroundColor,
            fontFamily: section.settings.cta-font-family,
            fontSize: section.settings.cta-font-size,
            link: link,
            text: section.settings.cta-text
            onclick: onclick
            borderRadius: section.settings.cta-border-radius
            -%}
          {% elsif section.settings.cta-type == 'barcode' %}
          {%- assign link = product.selected_or_first_available_variant.barcode %}
            {% capture onclick %}comboChosen({{product.title}}, {{price}}){% endcapture %}
            {% if isBest == 1 %}
              {%- assign ctaFontColor = section.settings.bd-cta-font-color -%}
              {%- assign ctaBackgroundColor = section.settings.bd-cta-background-color -%}
              {% else %}
              {%- assign ctaFontColor = section.settings.cta-font-color -%}
              {%- assign ctaBackgroundColor = section.settings.cta-background-color -%}
            {% endif %}
            {%- include 'component-cta',
            fontColor: ctaFontColor,
            backgroundColor: ctaBackgroundColor,
            fontFamily: section.settings.cta-font-family,
            fontSize: section.settings.cta-font-size,
            link: link,
            text: section.settings.cta-text
            onclick: onclick
            borderRadius: section.settings.cta-border-radius
            -%}
          {% endif %}
        </div>
    </div>
  </div> 
  {%- endform -%}
</div>