<header
  style="background:{% if section.settings.trasnparent == false %} {{section.settings.background-color}} {% endif %} {% if section.settings.hasTopBackground %} url('{{section.settings.top-background-image | img_url: 'large'}}') repeat top center; background-size: contain {% endif %};"
  class="{{section.settings.align}} flex justify-{{section.settings.align}} {% if section.settings.absolute %}absolute{% endif %}"
>
  <div class="Container flex-row {{section.settings.padding}} {{section.settings.no-padding}}">
    <img class="brand" src="{{ section.settings.brand-image | img_url: 'master' }} " alt="Brand Image" />
    {% if section.settings.hasMenu %}
    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <img src="{{ section.settings.menu-image | img_url: 'master' }} " />
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: {{section.settings.background-color}}EE">
        <ul class="navbar-nav mr-auto">

          {% for block in section.blocks %}
            {% case block.type %}

                {% when 'link' %}
                <li class="nav-item active weight-{{block.settings.font-weight}} font-{{ block.settings.font-family }}">
                  <a class="font-{{ block.settings.font-family }}" style="color:{{block.settings.font-color}}; font-size:{{block.settings.font-size}}em;" href="{{ block.settings.link }}">
                    {{ block.settings.linktext }}
                  </a>
                </li>

                {% when 'cta' %}
                <li class="nav-item mobile-hide active weight-{{block.settings.font-weight}} font-{{ block.settings.font-family }}">
                  <a style="color:{{block.settings.font-color}}; background-color:{{block.settings.background-color}}; border-radius:{{block.settings.border-radius}};font-size:{{block.settings.font-size}}em;" 
                     class="component-cta font-{{ block.settings.font }}" href="{{ block.settings.link}}"
                     >
                    {{ block.settings.linktext}}
                  </a>
                </li>
                <li class="nav-item desktop-hide active weight-{{block.settings.font-weight}}; font-{{ block.settings.font-family }}">
                  <a style="color:{{block.settings.font-color}}; font-size:{{block.settings.font-size}}em;" href="{{ block.settings.link }}">{{ block.settings.linktext }}</a>
                </li>

          {% endcase %}
          {% endfor %}

        </ul>
      </div>
    </nav>
    {% endif %}
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "class": "lp-header no-padding-bottom",
  "settings": [
      {
        "id": "hasBackground",
        "type": "checkbox",
        "label": "Backgound Image",
        "default": false
      },
      {
        "id": "background-image",
        "type": "image_picker",
        "label": "Background image"
      },
      {
        "id": "brand-image",
        "type": "image_picker",
        "label": "Brand image"
      },
      {
        "type": "color",
        "id": "background-color",
        "label": "Background Color",
        "default": "#F2F0F7"
      },
      {
        "type": "checkbox",
        "id": "trasnparent",
        "label": "Is Trasnparent?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "hasMenu",
        "label": "Menu",
        "default": false
      },
      {
        "id": "absolute",
        "type": "checkbox",
        "label": "Is Absolute?",
        "default": false
      },
      {
        "type": "select",
        "id": "align",
        "options": [
          { "value": "center", "label": "center"},
          { "value": "left", "label": "left"},
          { "value": "right", "label": "right"}
        ],
        "default": "center",
        "label": "Align text"
      },
      {
        "id": "menu-image",
        "type": "image_picker",
        "label": "Menu Icon"
      },
      {
        "type": "select",
        "id": "padding",
        "options": [
          { "value": "space-around-small", "label": "Space Around Small"},
          { "value": "regular", "label": "Regular"},
          { "value": "space-around", "label": "Space Around"},
          { "value": "regular-large", "label": "Regular Large"},
          { "value": "space-around-large", "label": "Space Around Large"}
        ],
        "default": "space-around-small",
        "label": "Section Padding"
    },
    {
       "type": "select",
       "id": "no-padding",
       "options": [
      { "value": "no-padding-bottom", "label": "Remove Bottom"},
          { "value": "no-padding-top", "label": "Remove Top"},
          { "value": "no-padding", "label": "Remove Both"},
          { "value": "regular", "label": "Don't Remove"}
       ],
      "default": "no-padding",
      "label": "Remove Padding"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "link",
       "settings": [
        {
          "id": "link",
          "type": "text",
          "label": "Button link",
          "default": "#combo"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        },
        {
          "type": "color",
          "id": "font-color",
          "label": "Font Color",
          "default": "#FFF"
        },
        {
          "type": "select",
          "id": "font-size",
          "options": [
             { "value": "0.75", "label": "Small"},
             { "value": "1", "label": "Medium"},
             { "value": "1.25", "label": "Large"},
             { "value": "1.5", "label": "Extra Large"}
          ],
          "default": "1.25",
          "label": "H3 Font Size"
        },
        {
            "type": "select",
            "id": "font-family",
            "options": [
                { "value": "Roboto", "label": "Roboto"},
                { "value": "Cairo", "label": "Cairo"},
                { "value": "Raleway", "label": "Raleway"},
                { "value": "Ubuntu", "label": "Ubuntu"},
                { "value": "Titillium", "label": "Titillium Web"},
                { "value": "Museo", "label": "Museo"},
                { "value": "Poppins", "label": "Poppins"}
            ],
            "default": "Raleway",
            "label": "Font Family"
        },
        {
           "type": "select",
           "id": "font-weight",
           "options": [
              { "value": "300", "label": "300"},
              { "value": "400", "label": "400"},
              { "value": "600", "label": "600"},
              { "value": "900", "label": "900"}
           ],
           "default": "600",
           "label": "Font Weight"
        }
    ]
  },
  {
      "type": "cta",
      "name": "cta",
      "settings": [
        {
          "id": "link",
          "type": "text",
          "label": "Button link",
          "default": "#combo"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        },
        {
          "id": "border-radius",
          "type": "text",
          "label": "Border Radius",
          "default": "4px"
        },
        {
            "type": "select",
            "id": "font-size",
            "options": [
               { "value": "0.75", "label": "Small"},
               { "value": "1", "label": "Medium"},
               { "value": "1.5", "label": "Large"},
               { "value": "2", "label": "Extra Large"}
            ],
            "default": "1",
            "label": "Font Size"
        },
        {
           "type": "select",
           "id": "font-family",
           "options": [
                { "value": "Roboto", "label": "Roboto"},
                { "value": "Cairo", "label": "Cairo"},
                { "value": "Raleway", "label": "Raleway"},
                { "value": "Ubuntu", "label": "Ubuntu"},
                { "value": "Titillium", "label": "Titillium Web"},
                { "value": "Museo", "label": "Museo"},
                { "value": "Poppins", "label": "Poppins"}
           ],
       "default": "Raleway",
           "label": "Font Family"
        },
    {
          "type": "color",
          "id": "font-color",
          "label": "Font Color",
          "default": "#2C164F"
    },
    {
          "id": "bold",
          "type": "checkbox",
          "label": "Bold",
      "default": true
    },
        {
            "type": "color",
            "id": "background-color",
            "label": "Background Color",
            "default": "#E50556"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Dropsmart Sections",
      "name": "Header"
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
