<div
  id="{{section.settings.section-id}}"
  style="
    background: {{section.settings.background-color}} 
      {% if section.settings.hasBackground %} 
         url('{{section.settings.background-image | img_url: 'master'}}') no-repeat center center; background-size: cover 
      {% endif %}
    ;"
 class="lp-products"
>
  <div class="Container {{section.settings.padding}} {{section.settings.no-padding}}">
    <div class="content flex flex-column justify-{{section.settings.align-content}}">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {% when 'h1' %}
               {%- include 'component-h1', 
                 fontColor: block.settings.font-color, 
                 fontSize: block.settings.font-size, 
                 fontFamily: block.settings.title-font, 
                 align: block.settings.align,
                 fontWeight: block.settings.font-weight,
                 text: block.settings.text
               -%}

          {% when 'paragraph' %}
            {% assign fontSizeDefault = '1.5' %}
             {%- include 'component-paragraph', 
                 fontColor: block.settings.font-color, 
                 fontSize: fontSizeDefault, 
                 fontFamily: block.settings.font-family, 
                 align: block.settings.align,
                 text: block.settings.text
               -%}

            {% when 'html' %}
             {{block.settings.custom-html}}

          {%- endcase -%}  
        {%- endfor -%}
    </div>
    <div class="content flex justify-center">
       {%- for block in section.blocks -%}
          {% case block.type %}
            {% when 'collection' %}
              
            {%- assign collection = collections[block.settings.collection] -%}
      
                {%- if collection != empty -%}

                    {%- for product in collection.products -%}
                        {%- assign isBest = 0 %}
                        {% if forloop.index == section.settings.isBest %}
                            {%- assign isBest = 1 %}
                        {% endif %}
                      {% include 'component-product', product: product, isBest: isBest  %}
                    {%- endfor -%}
       
            {%- endif -%}

         {%- endcase -%}  
       {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Collection",
  "class": "lp-collection",
  "max_blocks": 10,
  "settings": [
      {
        "id": "section-id",
        "type": "text",
        "label": "Seção"
      },
      {
        "id": "border-radius",
        "type": "number",
        "label": "Arredondamento da Borda",
        "default": 0
      },
      {
        "id": "show-description",
        "type": "checkbox",
        "label": "Mostrar descrição no celular",
        "default": true
      },
      {
        "id": "has-image",
        "type": "checkbox",
        "label": "Tem imagem",
        "default": false
      },
      {
        "type": "color",
        "id": "background-color",
        "label": "Cor de Fundo",
        "default": "#f2f4f5"
      },
      {
        "id": "hasBackground",
        "type": "checkbox",
        "label": "Usar Imagem de Fundo",
        "default": false
      },
      {
        "id": "background-image",
        "type": "image_picker",
        "label": "Imagem de Fundo"
      },
      {
         "type": "select",
         "id": "padding",
         "options": [
	      { "value": "space-around-small", "label": "Pequeno"},
          { "value": "regular", "label": "Médio"},
          { "value": "space-around", "label": "Grande"}
         ],
         "default": "regular",
         "label": "Espaçamento da Seção"
      },
      {
          "type": "select",
          "id": "no-padding",
          "options": [
            { "value": "no-padding-bottom", "label": "Remover Inferior"},
            { "value": "no-padding-top", "label": "Remover Superior"},
            { "value": "no-padding", "label": "Remover Ambos"},
            { "value": "", "label": "Não Remover"}
          ],
          "default": "",
          "label": "Remover Espaçamento"
      },
      {
          "type": "color",
          "id": "primary-background-color",
          "label": "Cor de Fundo Principal",
          "default": "#FFFFFF"
      },
      {
          "type": "color",
          "id": "secondary-background-color",
          "label": "Cor de Fundo Secundária",
          "default": "#FFFFFF"
      },
      {
          "type": "header",
          "content": "Indicador de Destaque"
      },
      {
        "id": "isBest",
        "type": "number",
        "label": " Destaque",
        "default": 1
      },
      {
        "id": "best-deal",
        "type": "text",
        "label": "Texto de Destaque",
        "default": "Mais vendido"
      },
      {
         "type": "color",
         "id": "best-deal-font-color",
         "label": "Cor da Fonte do Destaque",
         "default": "#FFF"
      },
      {
         "type": "color",
         "id": "best-deal-background-color",
         "label": "Cor de Fundo do Destaque",
         "default": "#000"
      },
      {
          "type": "select",
          "id": "best-deal-font",
          "options": [
            { "value": "Roboto", "label": "Roboto"},
            { "value": "Cairo", "label": "Cairo"},
            { "value": "Raleway", "label": "Raleway"},
            { "value": "Ubuntu", "label": "Ubuntu"},
            { "value": "Titillium", "label": "Titillium Web"},
            { "value": "Museo", "label": "Museo"},
            { "value": "Poppins", "label": "Poppins"}
          ],
          "default": "Raleway",
          "label": "Fonte do Destaque"
      },
      {
          "type": "select",
          "id": "best-deal-font-size",
          "options": [
             { "value": "1", "label": "Pequeno"},
             { "value": "1.5", "label": "Médio"},
             { "value": "2", "label": "Grande"},
             { "value": "3", "label": "Muito Grande"}
          ],
          "default": "1.5",
          "label": "Tamanho da Fonte do Destaque"
      },
      {
          "type": "header",
          "content": "Título"
      },
      {
          "id": "has-title",
          "type": "checkbox",
          "label": "Adicionar Título",
          "default": true
      },
      {
        "type": "color",
        "id": "title-font-color",
        "label": "Cor da Fonte",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "title-background-color",
        "label": "Cor do Fundo",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "bd-title-font-color",
        "label": "Cor da Fonte do Destaque",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "bd-title-background-color",
        "label": "Cor do Fundo do Destaque",
        "default": "#000"
      },
      {
        "type": "select",
        "id": "title-font",
        "options": [
          { "value": "Roboto", "label": "Roboto"},
          { "value": "Cairo", "label": "Cairo"},
          { "value": "Raleway", "label": "Raleway"},
          { "value": "Ubuntu", "label": "Ubuntu"},
          { "value": "Titillium", "label": "Titillium Web"},
          { "value": "Museo", "label": "Museo"},
          { "value": "Poppins", "label": "Poppins"}
        ],
        "default": "Raleway",
        "label": "Fonte"
      },
      {
          "type": "select",
          "id": "title-font-size",
          "options": [
             { "value": "1", "label": "Pequeno"},
             { "value": "1.5", "label": "Médio"},
             { "value": "2", "label": "Grande"},
             { "value": "3", "label": "Muito Grande"}
          ],
          "default": "1.5",
          "label": "Tamanho da Fonte"
      },
      {
        "type": "header",
        "content": "Descrição"
      },
      {
           "type": "color",
           "id": "description-font-color",
           "label": "Cor da Fonte",
           "default": "#000"
      },
      {
         "type": "color",
         "id": "bd-description-font-color",
         "label": "Cor da Fonte do Destaque",
         "default": "#000"
      },
      {
          "type": "select",
          "id": "description-font",
          "options": [
            { "value": "Roboto", "label": "Roboto"},
            { "value": "Cairo", "label": "Cairo"},
            { "value": "Raleway", "label": "Raleway"},
            { "value": "Ubuntu", "label": "Ubuntu"},
            { "value": "Titillium", "label": "Titillium Web"},
            { "value": "Museo", "label": "Museo"},
            { "value": "Poppins", "label": "Poppins"}
          ],
          "default": "Raleway",
          "label": "Fonte"
      },
      {
          "type": "select",
          "id": "description-font-size",
          "options": [
             { "value": "0.75", "label": "Pequeno"},
             { "value": "1", "label": "Médio"},
             { "value": "1.25", "label": "Grande"},
             { "value": "1.75", "label": "Muito Grande"}
          ],
          "default": "1",
          "label": "Tamanho da Fonte"
      },
      {
          "type": "header",
          "content": "Preço"
      },
      {
          "id": "has-price",
          "type": "checkbox",
          "label": "Incluir Preço",
          "default": true
      },
      {
           "type": "color",
           "id": "price-font-color",
           "label": "Cor da Fonte",
           "default": "#000"
      },
      {
           "type": "color",
           "id": "bd-price-font-color",
           "label": "Cor da Fonte do Destaque",
           "default": "#000"
      },
      {
            "type": "select",
            "id": "price-font",
            "options": [
              { "value": "Roboto", "label": "Roboto"},
              { "value": "Cairo", "label": "Cairo"},
              { "value": "Raleway", "label": "Raleway"},
              { "value": "Ubuntu", "label": "Ubuntu"},
              { "value": "Titillium", "label": "Titillium Web"},
              { "value": "Museo", "label": "Museo"},
              { "value": "Poppins", "label": "Poppins"}
            ],
            "default": "Roboto",
            "label": "Price Font Family"
        },
        {
            "type": "select",
            "id": "price-font-size",
            "options": [
               { "value": "2", "label": "Pequeno"},
               { "value": "3", "label": "Médio"},
               { "value": "4", "label": "Grande"},
               { "value": "5", "label": "Muito Grande"}
            ],
            "default": "2",
            "label": "Tamanho da fonte"
        },
        {
          "type": "header",
          "content": "Desconto"
        },
        {
          "id": "has-discount",
          "type": "checkbox",
          "label": "Incluir Desconto",
          "default": true
        },
        {
          "type": "color",
          "id": "discount-font-color",
          "label": "Cor da Fonte",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "bd-discount-font-color",
          "label": "Cor da Fonte do Destaque",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "discount-font",
          "options": [
            { "value": "Roboto", "label": "Roboto"},
            { "value": "Cairo", "label": "Cairo"},
            { "value": "Raleway", "label": "Raleway"},
            { "value": "Ubuntu", "label": "Ubuntu"},
            { "value": "Titillium", "label": "Titillium Web"},
            { "value": "Museo", "label": "Museo"},
            { "value": "Poppins", "label": "Poppins"}
          ],
          "default": "Raleway",
          "label": "Fonte"
      },
      {
          "type": "select",
          "id": "discount-font-size",
          "options": [
             { "value": "0.75", "label": "Pequeno"},
             { "value": "1", "label": "Médio"},
             { "value": "1.25", "label": "Grande"},
             { "value": "1.5", "label": "Muito Grande"}
          ],
          "default": "1",
          "label": "Tamanho da Fonte"
      },
      {
        "type": "header",
        "content": "Variante de Produto"
      },
      {
         "type": "color",
         "id": "variant-font-color",
         "label": "Cor da Fonte",
         "default": "#000"
      },
      {
         "type": "color",
         "id": "variant-background-color",
         "label": "Cor do Fundo",
         "default": "#FFF"
      },
      {
         "type": "color",
         "id": "variant-border-color",
         "label": "Cor da Borda",
         "default": "#77328b"
      },
      {
         "type": "text",
         "id": "variant-border-radius",
         "label": "Arredondamento da Borda",
         "default": "4px"
      },
      {
          "type": "select",
          "id": "variant-font-family",
          "options": [
            { "value": "Roboto", "label": "Roboto"},
            { "value": "Cairo", "label": "Cairo"},
            { "value": "Raleway", "label": "Raleway"},
            { "value": "Ubuntu", "label": "Ubuntu"},
            { "value": "Titillium", "label": "Titillium Web"},
            { "value": "Museo", "label": "Museo"},
            { "value": "Poppins", "label": "Poppins"}
          ],
          "default": "Raleway",
          "label": "Fonte"
      },
      {
          "type": "select",
          "id": "variant-font-size",
          "options": [
             { "value": "1", "label": "Pequeno"},
             { "value": "1.25", "label": "Médio"},
             { "value": "1.5", "label": "Grande"},
             { "value": "2", "label": "Muito Grande"}
          ],
          "default": "1",
          "label": "Tamanho da Fonte"
      },
      {
        "type": "header",
        "content": "Botão de Ação"
      },
      {
         "type": "text",
         "id": "cta-text",
         "label": "Texto do Botão",
         "default": "Comprar"
      },
      {
          "type": "select",
          "id": "cta-type",
          "options": [
            { "value": "checkout", "label": "Checkout"},
            { "value": "barcode", "label": "Link no barcode"},
            { "value": "link", "label": "Link"}
          ],
          "default": "checkout",
          "label": "Tipo de Ação"
      },
      {
         "type": "text",
         "id": "cta-link",
         "label": "Link do Checkout",
         "default": "//"
      },
      {
        "type": "select",
        "id": "cta-font-family",
        "options": [
            { "value": "Roboto", "label": "Roboto"},
            { "value": "Cairo", "label": "Cairo"},
            { "value": "Raleway", "label": "Raleway"},
            { "value": "Ubuntu", "label": "Ubuntu"},
            { "value": "Titillium", "label": "Titillium Web"},
            { "value": "Museo", "label": "Museo"},
            { "value": "Poppins", "label": "Poppins"}
        ],
        "default": "Raleway",
        "label": "Fonte"
      },
      {
        "type": "color",
        "id": "cta-font-color",
        "label": "Cor da Fonte",
        "default": "#FFF"
      },
      {
        "type": "color",
        "id": "cta-background-color",
        "label": "Cor de Fundo",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "bd-cta-font-color",
        "label": "Cor da Fonte do Destaque",
        "default": "#FFF"
      },
      {
        "type": "color",
        "id": "bd-cta-background-color",
        "label": "Cor de Fundo do Destaque",
        "default": "#000"
      },
      {
        "id": "cta-border-radius",
        "type": "text",
        "label": "Arredondamento da Borda",
        "default": "4px"
      },
      {
          "type": "select",
          "id": "cta-font-size",
          "options": [
             { "value": "1", "label": "Pequeno"},
             { "value": "1.25", "label": "Médio"},
             { "value": "1.5", "label": "Grande"},
             { "value": "2", "label": "Muito Grande"}
          ],
          "default": "1.25",
          "label": "Tamanho da Fonte"
      },
      {
        "type": "select",
        "id": "align-cta",
        "options": [
          { "value": "center", "label": "Centralizado"},
          { "value": "left", "label": "Esquerda"},
          { "value": "right", "label": "Direita"},
          { "value": "space-evenly", "label": "Espaçamento Uniforme"}
         ],
      "default": "space-evenly",
        "label": "Alinhamento do Botão"
      }
  ],
  "blocks": [
      {
      "type": "html",
      "name": "HTML Personalizado",
      "settings": [
            {
                "id": "custom-html",
                "type": "html",
                "label": "HTML Personalizado"
            }
      ]
    },
  {
      "type": "collection",
      "name": "Coleção",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Coleção"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Título",
          "info": "Se nenhum título for definido, será utilizado o título da coleção."
        },
        {
          "type": "range",
          "id": "grid_items_count",
          "min": 2,
          "max": 50,
          "step": 1,
          "label": "Mostrar Produtos",
          "default": 8
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Texto do Botão",
          "default": "Mostrar todos os produtos"
        }
      ]
    },
  {
      "type": "h1",
      "name": "Título H1",
      "settings": [
        {
            "id": "text",
            "type": "text",
            "label": "Adicionar título abaixo",
            "default": "Lorem Ipsum"
        },
        {
           "type": "select",
           "id": "font",
           "options": [
                { "value": "Roboto", "label": "Roboto"},
                { "value": "Cairo", "label": "Cairo"},
                { "value": "Raleway", "label": "Raleway"},
                { "value": "Ubuntu", "label": "Ubuntu"},
                { "value": "Titillium", "label": "Titillium Web"},
                { "value": "Museo", "label": "Museo"},
                { "value": "Poppins", "label": "Poppins"}
            ],
            "default": "Cairo",
            "label": "Fonte"
        },
        {
            "type": "select",
            "id": "font-size",
            "options": [
               { "value": "1.5", "label": "Pequeno"},
               { "value": "2", "label": "Médio"},
               { "value": "2.5", "label": "Grande"},
               { "value": "3.5", "label": "Muito Grande"}
            ],
            "default": "2",
            "label": "Tamanho da Fonte"
        },
    {
          "type": "color",
          "id": "font-color",
          "label": "Cor da Fonte",
          "default": "#000000"
    },
    {
           "type": "select",
           "id": "align",
           "options": [
              { "value": "center", "label": "Centralizado"},
              { "value": "left", "label": "Esquerda"},
              { "value": "right", "label": "Direita"}
           ],
           "default": "center",
           "label": "Alinhamento"
        },
        {
           "type": "select",
           "id": "font-weight",
           "options": [
              { "value": "300", "label": "Fino"},
              { "value": "400", "label": "Normal"},
              { "value": "600", "label": "Negrito"},
              { "value": "900", "label": "Extra Negrito"}
           ],
           "default": "600",
           "label": "Peso da Fonte"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Parágrafo",
      "settings": [
        {
          "id": "text",
          "type": "richtext",
          "label": "Texto",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada felis eu justo molestie bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<p>"
        },
        {
           "type": "select",
           "id": "font-family",
           "options": [
                { "value": "Roboto", "label": "Roboto"},
                { "value": "Cairo", "label": "Cairo"},
                { "value": "Raleway", "label": "Raleway"},
                { "value": "Ubuntu", "label": "Ubuntu"},
                { "value": "Titillium", "label": "Titillium Web"},
                { "value": "Museo", "label": "Museo"},
                { "value": "Poppins", "label": "Poppins"}
           ],
           "default": "Cairo",
           "label": "Fonte"
        },
        {
              "type": "color",
              "id": "font-color",
              "label": "Cor da Fonte",
              "default": "#000000"
        },
        {
           "type": "select",
           "id": "align",
           "options": [
              { "value": "center", "label": "Centralizado"},
              { "value": "left", "label": "Esquerda"},
              { "value": "right", "label": "Direita"}
           ],
           "default": "center",
           "label": "Alinhamento"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Dropsmart Sections",
      "name": "Oferta"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
